/* globals/etc. */
/*body { background-color: #3c3c3c; color: #efefef; }*/

a { color: #5dcbf0; }
a:hover { color: #5dcbf0; }
p.small { font-size: 0.75em; }
#page-transition-container { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.85); }
#page-transition-container .page-transition { position: relative; top: 50%; transform: translateY(-50%); }
.page-transition { height: 100px; }
.am { text-transform: lowercase; font-family: "Comfortaa","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
.un { font-family: "Fredoka One", Helvetica; }
.well { background-color: #4d4d4d; border: solid 1px black; }
.text-center { text-align: center; }
.subtitle { font-size: 0.8em; }
.mini-label { padding: 0 4px; }
/*#main-content { font-family: 'Montserrat', sans-serif; }*/
.box { /*color: black;*/ }
.featherlight-content { color: white; }
.noline:hover { text-decoration: none; }

/* bootstrap to template compat */
.form-group { margin-bottom: 4px; }

/* template fun */
a.hyperfix { position: relative; top: -200px; }

/* overrides */
.select2-container, .select2-selection { font-family: "Source Sans Pro", Helvetica, sans-serif; color: black; }

.select2-container { padding: 2px; font-size: 1.2em; background-color: rgba(255, 255, 255, 0.0235294); border: solid 2px rgba(255, 255, 255, 0.121569); border-radius: 5px; }
.select2-selection { background-color: transparent !important; border: none !important; }
.afterglow button { box-shadow: none; }

/* profile picture */
.profile-picture-circle { display: inline-block; border-radius: 96px; width: 192px; height: 192px; background-size: cover; background-position: center center; overflow: hidden; }
.profile-picture-circle-md { display: inline-block; border-radius: 32px; width: 64px; height: 64px; background-size: cover; background-position: center center; overflow: hidden; }
.profile-picture-circle-sm { float: left; display: inline-block; margin-top: -6px; margin-right: 6px; border-radius: 16px; width: 32px; height: 32px; background-size: cover; background-position: center center; }
.profile-picture-edit-btn { display: block; background: linear-gradient(black, rgba(0, 0, 0, 0)); padding: 20px 0; }
.profile-picture-edit-btn:hover { color: #5dcbf0; cursor: pointer; }
#profile-picture-file-upl-progress { display: none; }
.home-profile-pic-float { float: left; margin-right: 10px; }

/* header */
/*
.nav .nav-title { padding: 4px 14px; font-weight: bold; }
@media (min-width: 768px) {
	#navbar-collapse { float: right; }
}
.dropdown-menu i { width: 20px; }
*/

/* footer */
.footer-block { margin: 100px auto; }

/* dialog (login) */
.dialog { /*color: black;*/ width: 40%; min-width: 400px; margin: auto; padding: 20px; }
.dialog h1 { text-align: center; font-size: 2.2em; margin-bottom: 20px; }
.dialog h2 { text-align: center; font-size: 1.4em; margin-bottom: 14px; }

/* apps */
h1.app-title, h1.app-title a { color: white; text-decoration: none; }
h1.urusai-stealth { background-image: url(/images/touhou_chibi.png); background-position: 145px center; background-size: 80px; background-repeat: no-repeat; padding: 40px 0; margin: -20px 0 -40px 0; text-shadow: 0 0 4px black; }
h1.urusai-stealth span.urusai-shadow { color: #191919; text-shadow: 0 0 4px white; }
h1 img.app-icon { height: 128px; }

/* tables */
table.table-dark { background-color: white; }
table.table-dark td { color: black; }

/* urusai */
/*
.urusai-card { font-size: 0.8em; }

.urusai-poster-container { height: 200px; margin-bottom: 10px; }
.urusai-poster { height: 200px; position: relative; background-size: cover; background-position: center center; background-repeat: no-repeat; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; box-shadow: 0 0 8px black; transition: all 0.25s ease-in; }
.urusai-title { position: absolute; padding: 2px 6px; bottom: 0; left: 0; right: 0; }
.urusai-title small { font-size: 0.75em; color: #b0b0b0; display: block; }
.urusai-trailer { position: relative; color: #d8d8d8; }
.urusai-trailer-float { position: absolute; font-size: 0.25em; top: 4px; right: 4px; }
.urusai-overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.85)); }
.urusai-overlay-fade { position: absolute; left: -18px; top: 0; right: 0px; bottom: -20px; background: rgba(0, 0, 0, 0.5); -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); overflow: scroll; padding: 4px 6px; }
.urusai-overlay-fade .urusai-desc { font-size: 0.8em; text-align: justify; text-justify: inter-word; margin-bottom: 40px; }
.urusai-info { height: 200px; background-size: cover; background-position: center center; background-repeat: no-repeat; -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); overflow: hidden; box-shadow: 0 0 8px black; }
#eDiscussion blockquote { padding: 4px; margin: 0; }
*/

/* urusai-player */
/*
#urusai-player-eSelector { background-color: transparent; border: none; }
#urusai-player-eSelector option { background-color: rgba(0, 0, 0, 0.75); color: white; font-size: 0.5em; }
#urusai-player-mVideoCtr { width: 100%; }
.recDiv { padding: 4px; }
.recDiv .recMiniUser { width: 48px; height: 48px; background-size: cover; background-position: center center; background-repeat: no-repeat; border-radius: 24px; border: solid 1px black; box-shadow: 0 0 4px black; padding: 16px; text-shadow: 0 0 2px black; font-size: 1.4em; overflow: hidden; display: inline-block; margin-right: -26px; color: green; }
.recDiv .recMiniUser.recMiniUserPositive { border: solid 1px green; box-shadow: 0 0 4px green; }
.recDiv .recMiniUser.recMiniUserNegative { color: red; border: solid 1px red; box-shadow: 0 0 4px red; }
.recDiv .recMiniUser i { opacity: 0.825; }
*/

/* gallery */
.gallery-title { position: absolute; bottom: 0; left: 0; right: 0; padding: 8px; background-color: rgba(0, 0, 0, 0.75); color: white; }
.gallery-thumb { height: 200px; background-size: cover; background-position: center center; transition: box-shadow 0.25s; margin-bottom: 20px; position: relative; cursor: pointer; }
.gallery-thumb:hover { box-shadow: 0 0 4px black, 0 0 8px black; z-index: 999; }

/* mango */
@media screen and (max-width: 767px) {
	#mangaBox { top: 100px; }
}
@media screen and (min-width: 768px) {
	#mangaBox { top: 50px; }
}
#mangaBox { height: 100vh; text-align: center; }
#mangaMax { width: 100%; height: 90%; padding: 10px; position: relative; }
#mangaImage { max-width: 100%; max-height: calc(100% - 80px); margin-top: 40px; position: relative; top: 50%; transform: translateY(-50%); box-shadow: 0 0 4px black, 0 0 12px black; background: url(data/loading.gif) no-repeat; }

/* kazoku */
.kazoku-wrapper .theatre { width: 90%; max-width: 1200px; margin: auto; margin-bottom: 50px; }
.kazoku-wrapper video { width: 100%; max-height: 800px; }
.kazoku-wrapper .control { position: absolute; bottom: 5px; width: 100%; background-color: rgba(0, 0, 0, 0.35); padding: 2px 6px; opacity: 0.25; font-size: 1.2em; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.kazoku-wrapper .underbar { width: 100%; background-color: black; color: white; padding: 2px 6px; }
.kazoku-wrapper .control .fa { margin-right: 4px; }
.kazoku-wrapper .control .fa:hover { color: #375A7F; }
.kazoku-wrapper .control .separator { margin-right: 16px; }
.kazoku-wrapper .video-wrapper { position: relative; color: white; background-color: black;  }
.kazoku-wrapper .textpop { position: absolute; top: 20px; left: 0px; background-color: rgba(0, 0, 0, 0.7); padding: 2px 12px; box-shadow: -4px 0 0 #375A7F; max-width: 70%; display: none; }
.kazoku-wrapper .textpop p { padding: 0px; margin: 0px; font-size: 1.2em; overflow: hidden; white-space: no-wrap; text-overflow: ellipsis; }
.kazoku-wrapper .textpop span { font-size: 0.9em; }
.kazoku-wrapper .textlog { position: absolute; top: 0px; right: 0px; bottom: 58px; width: 25%; max-width: 300px; overflow: hidden; transition: background-color 0.5s ease; )}
.kazoku-wrapper .textlog:hover { background-color: rgba(0, 0, 0, 0.35); }
.kazoku-wrapper #kazoku-chat { padding: 10px; height: 100%; position: relative; }
.kazoku-wrapper #kazoku-chat li { list-style-type: none; word-wrap: break-word; }
.kazoku-wrapper #kazoku-statusbar span.uspan { display: inline-block; margin-right: 5px; padding: 0; padding-bottom: 4px; }
.kazoku-wrapper #kazoku-statusbar span.fa { margin-left: 4px; }
.kazoku-wrapper #kazoku-statusbar .profile-picture-sm { margin: 0; width: 80px; height: 80px; padding-bottom: 8px; }
.kazoku-wrapper #kazoku-textinput { display: block; position: relative; top: -5px; border: none; outline: none; box-sizing: border-box; }
.kazoku-wrapper .debug { display: none; }
/*headers*/
.kazoku-wrapper .sync_title { font-size: 20px; }
.kazoku-wrapper select { background-color: transparent; border: none; }
.kazoku-wrapper select option { background-color: #222; color: white; border: none; }
/* kazoku-2 */
.kazoku-wrapper #kazoku-min-log { margin-top: -5px; padding: 5px 5px 0 5px; }
.kazoku-title { margin-left: 8px; margin-bottom: 0; }

.kazoku-wrapper #kazoku-statusbar { width: 100%; }
.kazoku-wrapper #kazoku-status-preload-progress-wrapper { display: none; }
.kazoku-wrapper .kazoku-profile-picture { display: inline-block; width: 96px; height: 96px; background-size: cover; background-position: center center; text-align: center; position: relative; margin: 4px; }
.kazoku-wrapper .kazoku-profile-picture span.title { position: absolute; bottom: 0; left: 0; right: 0; padding: 2px 4px; background-color: rgba(0, 0, 0, 0.75); font-size: 0.85em; }
.kazoku-wrapper .kazoku-profile-picture span.ping { position: absolute; right: 0; top: 0; padding: 1px 2px; background-color: black; font-size: 0.625em; }
.kazoku-wrapper .kazoku-profile-picture span.status { position: absolute; left: 0; top: 0; padding: 1px 2px; background-color: black; font-size: 0.625em; }

.kazoku-wrapper #kazoku-log { width: 100%; height: 96px; overflow: auto; font-size: 0.8em; margin-top: 20px; }
.kazoku-clipboard-wrapper { float: left; display: inline-block; width: 300px; margin: 1px 8px; }
.kazoku-clipboard-wrapper input, .kazoku-clipboard-wrapper span { height: 26px; padding: 0 8px; }

/* tokyo */
/*#mediaLibrary tr.info { color: black; }*/

/* tokyo/z */
/*
.tokyo-album-art-container { text-align: center; }
.tokyo-album-art { width: 128px; height: 128px; background-color: white; display: inline-block; }
.tokyo-playing-text-container { margin-top: 16px; }
.tokyo-playing-text { margin: 0; }
.tokyo-playing-title { font-size: 2em; }
.tokyo-playing-artist {  }
.tokyo-playing-album { }
.tokyo-list { min-height: 2000px; }
#tokyo-float { position: relative; }
@media screen and (max-width: 991px) {
	#tokyo-float { background-color: #2E3141; width: 100vw; z-index: 9999; padding: 40px 0; }
}
@media screen and (min-width: 992px) {
	.tokyo-list { font-size: 0.8em; }
}
*/

/* atelier */
.atelier-group { display: none; margin-left: 40px; }

/* urusai (2) */
.urusai-calendar { }
@media screen and (max-width: 693px) {
	.urusai-calendar img, .urusai-calendar br { display: none; }
}
.urusai-calendar tr.urusai-calendar-episode:hover { background-color: rgba(0, 0, 0, 0.3); cursor: pointer; }

/* tokyo (2) */
.tokyo-tabs { margin-bottom: -2px; }
.tokyo-tabs label { display: inline-block; border: solid 2px black; background-color: rgba(0, 0, 0, 0.5); padding: 4px 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; margin-bottom: 0; }
.tokyo-tabs label:hover { background-color: black; cursor: pointer; }
.tokyo-main { background-color: rgba(0, 0, 0, 0.5); border: solid 2px black; font-size: 0.8em; }
.tokyo-main tr:hover { background-color: rgba(0, 0, 0, 0.3); cursor: pointer; }
.tokyo-main .tokyo-thumb-container { position: relative; }
.tokyo-main .tokyo-thumb { background-color: white; position: absolute; top: 4px; left: 4px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
@media screen and (max-width: 737px) {
	.tokyo-main .tokyo-thumb { width: 31px; height: 31px; }
}
@media screen and (min-width: 738px) and (max-width: 1280px) {
	.tokyo-main .tokyo-thumb { width: 31px; height: 31px; }
}
@media screen and (min-width: 1281px) and (max-width: 1680px) {
	.tokyo-main .tokyo-thumb { width: 34px; height: 34px; }
}
@media screen and (min-width: 1681px) {
	.tokyo-main .tokyo-thumb { width: 47px; height: 47px; }
}
#tokyo-control { position: fixed; left: 0; bottom: 0; right: 0; height: 48px; background-color: black; z-index: 999; padding: 12px; text-align: center; }
#tokyo-control .tokyo { display: inline-block; position: relative; top: -6px; }
#tokyo-control .fa { padding: 0 12px; font-size: 1.3em; }
#aAlbumArt { width: 180px; height: 180px; background-color: black; box-shadow: 0 0 2px black; display: inline-block; position: fixed; left: 50%; margin-left: -90px; bottom: 48px; z-index: -100; background-size: cover; background-position: center center; background-repeat: no-repeat; }
#aPlayText-container { display: inline-block; position: absolute; left: 0; bottom: 48px; right: 0; z-index: -99; }
#aPlayText { background-color: black; padding: 8px 12px; }
@media screen and (max-width: 737px) {
	.optional { display: none !important; }
}
input[type=range].tokyo {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range].tokyo:focus {
  outline: none;
}
input[type=range].tokyo::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A9A9A9;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].tokyo::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 8px;
  width: 16px;
  border-radius: 4px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range].tokyo:focus::-webkit-slider-runnable-track {
  background: #A9A9A9;
}
input[type=range].tokyo::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A9A9A9;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].tokyo::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 8px;
  width: 16px;
  border-radius: 4px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].tokyo::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].tokyo::-ms-fill-lower {
  background: #A9A9A9;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range].tokyo::-ms-fill-upper {
  background: #A9A9A9;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range].tokyo::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 8px;
  width: 16px;
  border-radius: 4px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].tokyo:focus::-ms-fill-lower {
  background: #A9A9A9;
}
input[type=range].tokyo:focus::-ms-fill-upper {
  background: #A9A9A9;
}

/* library */
.libraryContainer { width: 440px; margin: auto; margin-bottom: 60px; }
.libraryContainer #bookArea { margin-top: 10px; padding: 20px; }